@model IEnumerable<SmartAdmin.WebUI.Models.admin.Account.AccountViewModel>
@{
    ViewData["Title"] = "Account";
    ViewData["PageName"] = "Account";
    ViewData["Category1"] = "";
    ViewData["Heading"] = "Account";
    ViewData["PageDescription"] = "";
}
@section HeadBlock {
<link rel="stylesheet" media="screen, print" href="~/css/datagrid/datatables/datatables.bundle.css">
<link rel="stylesheet" media="screen, print" href="~/css/fa-solid.css">
}
<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">

            <div class="panel-hdr">
                <h2>
                    Account <span class="fw-300"><i>Table</i></span>
                </h2>
                <div class="panel-toolbar">
                    <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                    <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
                    <button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"></button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="col-xl-12 mb-3">
                    <div class="form-group" style="text-align:right;padding:20px 0px 0px;">
                        <a class="btn btn-default waves-effect waves-themed" asp-controller="Admin"
                           asp-action="ExportToExcel"> Export Excel</a>
                    </div>
                </div>
                <div class="panel-content">
                    <table id="dt-basic-example" class="table table-bordered table-hover table-striped w-100">
                        <thead>
                            <tr>
                                <th>Student's Id OR Iqama</th>
                                <th>student's name</th>
                                <th>student's date of birth</th>
                                <th>Father's E-Mail</th>
                                <th>Father's Mobile Number</th>
                                <th>Mother's E-Mail</th>
                                <th>Mother's Mobile Number</th>
                                <th>student have siblings at Ruya School</th>
                                <th>Nationality</th>
                                <th>Upcoming school year</th>
                                <th>Tuition payment method</th>
                                <th>Preferred payment plan</th>
                                <th>Ruya school administrational fees receipt</th>
                                <th>Birth Certificate</th>
                                <th>Operation</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                @foreach (var item in Model)
                                {
                                    bool UpcomingSchoolYearbool = Enum.TryParse(@item.StudentUpcomingSchoolLevel.ToString(), out UpcomingSchoolYear StudentUpcomingSchoolLevel);
                                    bool HasSiblingsAtRuyabool = Enum.TryParse(@item.HasSiblingsAtRuya.ToString(), out boolean HasSiblingsAtRuya);
                                    bool HasTuitionPaymentMethods = Enum.TryParse(@item.TuitionPaymentMethods.ToString(), out TuitionPaymentMethods TuitionPaymentMethods);
                                    bool HasNationalitybool = Enum.TryParse(@item.Parent.FatherNationality.ToString(), out Nationality Nationality);

                                    <tr>
                                        <td>@item.Student_IdORIqama</td>
                                        <td>@(item.StudentFirstNameEnglish + " " + @item.Parent.FatherFirstNameEnglish + " " + @item.Parent.FatherMiddleNameEnglish + " " + @item.Parent.FatherFamilyNameEnglish)</td>
                                        <td>
                                            @{
                                                if (item.StudentBirthDate != null)
                                                    @item.StudentBirthDate.Value.ToShortDateString()
                                            }
                                        </td>
                                        <td>@item.Parent.FatherEmailAddress</td>
                                        <td>@item.Parent.FatherMobileNumber</td>
                                        <td>@item.Parent.MotherEmailAddress</td>
                                        <td>@item.Parent.MotherMobileNumber</td>
                                        <td>
                                            @{
                                                if (HasSiblingsAtRuyabool == true)
                                                    @HasSiblingsAtRuya
                                            }
                                        </td>
                                        <td>
                                            @{
                                                if (HasNationalitybool == true)
                                                    @Nationality
                                            }
                                        </td>
                                        <td>
                                            @{
                                                if (UpcomingSchoolYearbool == true)
                                                    @StudentUpcomingSchoolLevel
                                            }
                                        </td>
                                        <td>
                                            @{
                                                if (HasTuitionPaymentMethods == true)
                                                    @TuitionPaymentMethods
                                            }
                                        </td>
                                        <td>@item.TuitionPlan?.TuitionPaymentPlan</td>
                                        <td>
                                            @if (item.RuyaschoolAdministrationalFeesPath != null)
                                            {
                                                <a href="./assets/Documents/@item.RuyaschoolAdministrationalFeesPath" target="_blank"> Show Administrational Fees</a>
                                            }
                                            else
                                            {
                                                <span>No</span>
                                            }
                                        </td>
                                        <td>
                                            @if (item.BirthCertificatePath != null)
                                            {
                                                <a href="./assets/Documents/@item.BirthCertificatePath" target="_blank"> Show Birth Certificate</a>
                                            }
                                            else
                                            {
                                                <span>NO</span>
                                            }
                                        </td>
                                        <td>
                                            <div class="btn-group" id="js-demo-nesting" role="group" aria-label="Button group with nested dropdown">
                                                <div class="btn-group" role="group">
                                                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">Operation</button>
                                                    <div class="dropdown-menu">
                                                        <a class="dropdown-item" title="Delete" asp-controller="Admin" asp-action="ExportToExcel" asp-route-Id="@item.Id">Export in Excel</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section ScriptsBlock {
<script>
    $(document).ready( function () {
        // initialize datatable
        $('#dt-basic-example').dataTable({
           scrollX: true,
           lengthChange : true,
        });
    });
</script>
}
